<p>
  <strong><%= Book.human_attribute_name(:title) %></strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:memo) %></strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %></strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %></strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<p>
  posted by <%= link_to @book.user.name, user_path(@book.user) %>
</p>

<h2>コメント</h2>
<% @comments.each do |comment| %>
  <div class="card mb-2 p-1" style="width: 25rem;">
    <%= br_with_escape(comment.content) %>
    <%= link_to comment.user.name, comment.user %>
    <%= l(comment.created_at, format: :long) %>

    <% if current_user == comment.user%>
      <%= link_to "編集", edit_comment_path(comment)%>
      <%= link_to "削除", comment_path(comment), method: :delete, data: { confirm: "削除してよろしいですか" } %>
    <% end%>
  </div>
<%end%>

<h2>コメントする</h2>
<%= render "shared/comment_form", comment: [@book, @comment]%>

<%= link_to t(".edit"), edit_book_path(@book) %> |
<%= link_to t("views.defaults.back"), books_path %>
